/*****************************
Sample Responsive Form
*****************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

body {
  background: #c6bcb6 url("https://photos.smugmug.com/Dev/Images/i-XBWtMFk/0/a54a5678/XL/27958wide-XL.jpg") center / cover no-repeat fixed;
  text-align: center;
  min-width: 320px;
}

header {
  background-color: rgba(22,24,24,0.7);
  color: white;
  position: relative;
  padding: 25px 0;
  box-shadow: 0 4px 8px black;
}

h1 {
  font-size: 1.5em;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
  background-color: rgba(22,24,24,0.7);
  border-radius: 10px;
  margin: 30px 0;
  padding: 30px 5vw;
  border: 2px solid rgba(0,0,0,0.6);
  box-shadow: 5px 6px 7px black;
  color: white;
}

#survey-form {
  display: grid;
  grid-template-columns: minmax(150px, 300px);
  grid-row-gap: 5px;
}

#description {
  text-align: center;
  padding: 1em 0;
}

.labels {
  text-align: left;
  margin-top: 10px;
}

.input-field {
  height: 35px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: lightgrey;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 5px white;
  background-color: white;
}

#comments {
  resize: vertical;
  height: 60px;
  padding-top: 2px;
  padding-left: 5px;
}

.radio,
.checkbox {
  text-align: left;
}

.dropdown {
  height: 30px;
}

#submit {
  display: block;
  width: 150px;
  margin: 15px auto 0;
  padding: 5px 15px;
  color: white;
  background-color: #0d9d54;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  transition: background-color .5s;
  transition: box-shadow .6s;
}

#submit:hover {
  background-color: white;
  color: #0d9d54;
  font-weight: bold;
  box-shadow: 0 0 5px white;
}

/****************************
Media Queries
****************************/
@media screen and (min-width: 500px) {
  #description {
    font-size: 1.3em;
  }

  #survey-form {
    grid-template-columns: minmax(400px, 50vw);
    grid-row-gap: 10px;
  }
}

@media screen and (min-width: 700px) {

  h1 {
    font-size: 2em;
  }

  .container {
    margin: 100px 10vw;
  }

  #survey-form {
    grid-template-columns: 40% auto;
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    align-items: start;
    padding-right: 20px;
  }

  .labels {
    margin: 0;
    text-align: right;
  }

  #submit {
    grid-column: 1 / 3;
    width: 200px;
  }
}

@media screen and (min-width: 833px) {

  h1 {
    font-size: 2.5em;
  }


}
